<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>796646060690-75qk0d41m680i24de4039dsc3tkodg81.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796646060690-75qk0d41m680i24de4039dsc3tkodg81</string>
	<key>API_KEY</key>
	<string>AIzaSyClXxm583SZkSnuac9a1WkjZSLTqqSpqvI</string>
	<key>GCM_SENDER_ID</key>
	<string>796646060690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wetripout</string>
	<key>PROJECT_ID</key>
	<string>backendunicode-722c2</string>
	<key>STORAGE_BUCKET</key>
	<string>backendunicode-722c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796646060690:ios:fcb73b83ada28989</string>
	<key>DATABASE_URL</key>
	<string>https://backendunicode-722c2.firebaseio.com</string>
</dict>
</plist>